<h2>What new word do you want to learn?</h2>

<form action="/words" method="post">
  <div class="form-group">
    <label for="new_word">Word</label>
    <input id="w" name="new_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>