<h1>Define-A-Word</h1>

<p>"All words are made up."
-Thor, <i>Infinity War</i></p>

<p>Make a list of words you want to learn and come up with what you think each word means.</p>

<p><a href="/word/new">Add a new word</a></p>

<% if @words.any? %>
  <ul>
  <% @words.each do |word| %>
  <li><a href="/word/<%= word.id %>"><%= word.word %></a></li>
  <% end %>
  </ul>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>

<p>Make a list of your own, made up words and write definitions for them.</p>

<a href="/allwords">Click here to view the words with their definitions</a>

